/* || General Setup */

html {
    font-size: 10px;
}

body {
    padding: 0; 
    margin: 0;
}

/* || Typography */

h1, h2, h3 {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: white;
}

p, input, li, a {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

p, li, a {
    font-size: 1.6rem;
}

/* || Header Layout */

header {
    background: blue;
    color: white;
    padding: 15px 0;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header a {
    display: block;
    outline: none;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

header a:visited, header a:link, header a:focus {
    color: white;
}

header .logo a {
    font-size: 4rem;
    font-weight: 800;
    padding: 25px;
}

header nav a {
    font-size: 1.8rem;
}

header nav a:hover {
    color: aqua;
}


/* || Main Layout */

main > * {
    background: blue;
    padding: 30px 15px;
    margin: 10px 0;
}

main article {
    margin-bottom: 80px;
}

main article:last-child {
    margin: 0;
}

main h2 {
    margin: 0;
    padding: 0;
}

/* || Footer Layout */

footer {
    background: blue;
    padding: 20px;
    text-align: center;
}

/* || Media Queries */

/* || General Media Queries */

@media screen and (min-width: 600px) {
    body {
        width: 85%;
        max-width: 1000px;
        margin: 5px auto;
    }

    main {
        display: grid;
        grid-template-columns: 5fr 2fr;
        gap: 10px;
    }
}

/* || Header Media Queries */

@media screen and (min-width: 768px) {
    header, header ul {
        display: flex;
    }

    header {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1025px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
}