/* Import Font */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Body Container*/
body {
    background: rgb(30,30,40);
}

/* Form Container */
form {
    max-width: 420px;
    margin: 50px auto;
}

/* Text Inputs */
.feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background: transparent;
    border: 2px solid rgb(233, 71, 71);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

/* Text Inputs When is Focuses */
.feedback-input:focus {
    border: 2px solid rgb(155, 37, 37);
}

/* Textareas */
textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

/* Inputs Submits*/
input[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: rgb(233, 71, 71);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

/* All Inputs Submits When Hover*/
input[type="submit"]:hover {
    background: rgb(155, 37, 37);
}