* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    -moz-transition-property: all;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

body {
    background: #1b1b2b;
    padding: 75px;
    text-align: center;
    font-family: Oswald, sans-serif;
}

.btn {
    color: rgb(90, 89, 89);
    background: rgba(0,0,0,0.5);
    padding: 10px 20px;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn:hover {
    border: 0;
    background: white;
    padding: 20px 20px;
    color: #1b1b1b;
}

.footer {
    font-size: 8px;
    color: white;
    clear: both;
    display: block;
    letter-spacing: 5px;
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
    width: 210px;
    margin: auto;
    margin-top: 400px;
}