/* Imports */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* General Setup */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

/* Typography */
h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
}

p, li, input, a, span {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.8rem;
}

p, li, input, a {
    font-size: 2rem;
}


/* Header Layout */
header {
    background: #74A4C5;
    color: black;
    padding: 20px;
}

header ul {
    list-style: none;
}

header a {
    font-size: 1.4rem;
    font-weight: 300;
    display: block;
    outline: none;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid white;
}

header nav a.logo {
    font-size: 3.5rem;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
}

header a:visited, header a:link, header a:focus {
    color: white;
}

header a:hover {
    color: white;
}

/* Main Layout */
main section {
    padding: 30px 15px;
}

main section:nth-child(even) {
    background: white;
    color: black;
}

main section:nth-child(odd) {
    background: #74A4C5;
    color: white;
}

.contents {
    margin: 0 auto;
    max-width: 790px;
    text-align: center;
}

/* Home Section */
#home .elements {
    position: relative;
    margin: 0 auto;
    padding: 0 50px;
    max-width: 800px;
    text-align: center;  
}

#home img {
    position: relative;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    z-index: 1;
}

#home h2 {
    position: absolute;
    font-size: 5rem;
    text-shadow: 1px 1px 2px black;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* Value Section */

#value .intro, #value .contents {
    padding: 0 20px;
}

#value h2, #value h3 {
    color: #414B52;
}

#value p {
    color: #2c2c2c;
}

#value .intro {
    margin-bottom: 20px;
}

#value .intro h2 {
    font-size: 4rem;
    margin-bottom: 20px;
}

#value .intro p {
    font-size: 1.7rem;
}

#value .columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#value .columns .col {
    flex: 1 180px;
    margin: 10px;
    text-align: center;
}

#value .columns .col img {
    margin: 30px 25px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

#value .columns .col h3 {
    font-size: 1.9rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#value .columns .col p {
    font-size: 1.4rem;
}

/* Graphics Section*/
#graphics {
    padding-top: 70px;
    padding-bottom: 140px;
}

#graphics .intro {
    margin-bottom: 15px;
}

#graphics .content .info {
    margin-right: 30px;
    text-align: left;
    padding-top: 10px;
    line-height: 1.3;
    margin-bottom: 25px;
}

#graphics .content .info p {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

#graphics .content .info button {
    padding: 15px 30px;
    border: 0;
    color: #2c2c2c;
    cursor: pointer;
}

#graphics .content .info button:hover {
    background-color: #ffffff;
}

#graphics .content .sectors .sectors-bars {
    position: relative;
    padding: 10px 0;
}

#graphics .content .sectors .sectors-label, .progress-value {
    font-size: 1.2rem;
}

#graphics .content .sectors .sectors-label {
    text-align: start;
}

#graphics .content .sectors .progress {
	overflow: hidden;
	height: 10px;
	background-color: #ccc;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    margin: 3px 0;
}

#graphics .content .sectors .progress-bar {
	width: 0;
	height: 100%;
	text-align: right;
	background-color: #ffffff;
	line-height:none;
    border-radius: 0 4px 4px 0;
}

#graphics .content .sectors .progress-value {
    position: absolute;
    color: #ffffff;
    top: 10px;
    margin-left: -25px;
}


/* Products Section */
#products h2, #products h3 {
    color: #414B52;
}

#products p {
    color: #2c2c2c;
}

#products .intro {
    margin-bottom: 50px;
}

#products .intro h2 {
    font-size: 4rem;
    margin-bottom: 20px;
}

#products .intro p {
    font-size: 1.7rem;
}

#products .content {
    display: flex;
    flex-flow: row wrap;
}

#products .content .col {
    flex: 1 170px;
    text-align: center;
    margin: 20px;
}

#products .content .col img {
    width: 140px;
    height: 140px;
    border-radius: 5px;
}

#products .content .col h3 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 10px 0;
}

#products .content .col p {
    font-size: 1.2rem;
}

/* Footer Section */

footer {
    background-color: #74A4C5;
}

.rights {
    background-color: #000;
    color: #dbdbdb;
}

/* Media Queries */

@media screen and (min-width: 720px) {
    /* Header Layout Queries */
    header, header ul {
        display: flex;
    }

    header {
        justify-content: center;
    }

    header nav a {
        padding: 7px;
        vertical-align: text-bottom;
    }

    header li {
        margin-right: 25px;
    }

    header a:visited, header a:link, header a:focus {
        color: #dbdbdb;
        border-color: #dbdbdb;
    }

    header nav a:hover {
        color: white;
        border-color: white;
    }

    header nav a.logo {
        border: none;
        margin-top: -10px;
    }
    


    #home h2 {
        font-size: 8rem;
        transform: translate(-50%, -50%);
    }


    #graphics .content {
        display: flex;
    } 

    #graphics .content div {
        flex: 1;
    }
}


