/* Imports */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* General Setup */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

/* Typography */
h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
}

p, li, input, a {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.8rem;
}

p, li, input, a {
    font-size: 2rem;
}


/* Header Layout */
header {
    background: #74A4C5;
    color: black;
    padding: 20px;
}

header ul {
    list-style: none;
}

header a {
    font-size: 1.4rem;
    font-weight: 300;
    display: block;
    outline: none;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid white;
}

header nav a.logo {
    font-size: 3.5rem;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
}

header a:visited, header a:link, header a:focus {
    color: white;
}

header a:hover {
    color: white;
}

/* Main Layout */
main section {
    padding: 30px 0;
}

main section:nth-child(even) {
    background: white;
    color: black;
}


main section:nth-child(odd) {
    background: #74A4C5;
    color: white;
}


/* Home Section */
#home .elements {
    position: relative;
    margin: 0 auto;
    padding: 0 50px;
    max-width: 800px;
    text-align: center;  
}

#home img {
    position: relative;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    z-index: 1;
}

#home h2 {
    position: absolute;
    font-size: 5rem;
    text-shadow: 1px 1px 2px black;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* Value Layout */


/* Media Queries */

@media screen and (min-width: 720px) {
    /* Header Layout Queries */
    header, header ul {
        display: flex;
    }

    header {
        justify-content: center;
    }

    header nav a {
        padding: 7px;
        vertical-align: text-bottom;
    }

    header li {
        margin-right: 25px;
    }

    header a:visited, header a:link, header a:focus {
        color: #dbdbdb;
        border-color: #dbdbdb;
    }

    header nav a:hover {
        color: white;
        border-color: white;
    }

    header nav a.logo {
        border: none;
        margin-top: -10px;
    }

    /* Main Layout Queries */

    
    /* Home Section Queries */
    #home h2 {
        font-size: 8rem;
        transform: translate(-50%, -50%);
    }

    /* Footer Layout Queries */

}


