/* General Setup */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/* Typography */
h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
}

p, li, input, a {
    font-family: 'Courier Prime', monospace;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}


h3 {
    font-size: 2.8rem;
}

p, li, input, a {
    font-size: 2rem;
}


/* Header Layout */
header {
    background: black;
    color: white;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header .logo {
    font-size: 3.5rem;
    padding: 30px;
}

header ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

header a {
    position: relative;
    display: block;
    outline: none;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

header .animation {
    position: absolute;
    bottom: 0;
    height: 3px;
    background: white;
    transition: all .5s ease 0s;
}

header a:visited, header a:link, header a:focus {
    color: rgb(168, 168, 168);
}

header a:hover {
    color: white;
}


/* Main Layout */
main {
    margin: 10px 0;
}

main section {
    padding: 70px 15px;
}

main section:nth-child(even) {
    background: black;
    color: white;
}

main section:nth-child(odd) {
    background: white;
}

main h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

/* About Layout */
#about {
    padding: 70px 20px;
}

#about h3, #about p, #about a {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
}

#about h3 {
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}

#about p {
    font-size: 2.5rem;
    margin-top: 20px;
}

#about a {
    display: inline-block;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
}

#about a:hover {
    background: white;
    color: black;
    transition: .5s all;
}

/* Our Team Layout */
#team {
    padding: 70px 20px;
}

.team-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.team-member {
    flex: 1;
    margin: 10px 20px;
}

.team-member h3 {
    font-family: 'Comfortaa', cursive;
}

.team-member img {
    background: grey;
    width: 300px;
    height: 340px;
    border-radius: 10px;
}


/* Contact Layout*/
#contact p {
    text-align: center;
    color: gray;
}

#contact form {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 40px;
}

.form-input, .form-submit {
    box-sizing: border-box;
    outline: none;
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    color: black;
    transition: .5s all;
}

.form-input:hover, .form-submit:hover {
    background: black;
    color: white;
}

.form-input {
    border-bottom: 0;
}

textarea.form-input {
    resize: none;
    height: 150px;
    line-height: 2;
}


/* Footer */
footer {
    background: black;
    color: white;
    padding: 40px 20px;
}

footer .container {
    display: flex;
    flex-flow: row wrap;
}

footer .col {
    flex: 1;
    margin: 0 30px;
    padding: 15px 0;
}

footer .col h3 {
    font-family: 'Teko', sans-serif;
    font-size: 5rem;
    font-weight: normal;
    margin: 0;
    margin-bottom: 10px;
}

footer .col ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .col li {
    color: gray;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 0;
}

footer .col li:hover {
    color: white;
}

footer .col.social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .col.social li {
    display: inline-block;
}

footer .col.social a {
    width: 50px;
    height: 50px;
    font-size: 40px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: gray;
}

footer .col.social a.fa-facebook:hover {
    color: rgb(70, 70, 223);
}

footer .col.social a.fa-instagram:hover {
    color: rgb(255, 0, 157);
}

footer .col.social a.fa-twitter:hover {
    color: rgb(0, 225, 255);
}

footer .col.social a.fa-linkedin:hover {
    color: rgb(70, 70, 223);
}

/* Media Queries */

/* Header Queries */
@media screen and (min-width: 795px) {
    header, header ul {
        display: flex;
    }

    header {
        justify-content: space-between;
        align-items: center;
    }

    header li {
        margin-right: 15px;
    }

    header .start-home, li:nth-child(1):hover~.animation {
        left: 0;
        width: 80px;
    }

    header .start-about, li:nth-child(2):hover~.animation {
        left: 95px;
        width: 118px;
    }

    header .start-services, li:nth-child(3):hover~.animation {
        left: calc(95px + 118px + 30px);
        width: 108px;
    }

    header .start-ourteam, li:nth-child(4):hover~.animation {
        left: calc(95px + 118px + 108px + 60px);
        width: 115px;
    }

    header .start-contact, li:nth-child(5):hover~.animation {
        left: calc(95px + 118px + 108px + 115px + 90px);
        width: 100px;
    }

}

/* Our Team Queries */

@media screen and (max-width: 719px) {
    .team-container {
        text-align: center;
    }
}
