@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

* {
    font-family: Open Sans;
}

section {
    width: 100%;
    display: inline-block;
    background: rgb(44, 41, 41);
    height: 10vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}

.footer-distributed {
    background: rgb(122, 120, 120);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-left, .footer-center, .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-left {
    width: 40%;
}

h3 {
    color: white;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

h3 span {
    color: lightseagreen;
}

.footer-links {
    color: white;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-links a {
    color: inherit;
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
}

.footer-company-name {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-center {
    width: 35%;
}

.footer-center i {
    background: #33383b;
    color: white;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-center p {
    display: inline-block;
    color: white;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-center p a {
    color: lightseagreen;
    text-decoration: none;
}

.footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: white;
    display: inline-block;
    padding-right: 5px;
}

.footer-links .link-1:before {
    content: none;
}

.footer-right {
    width: 20%;
}

.footer-company-about {
    line-height: 20px;
    color: lightgray;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-company-about span {
    display: block;
    color: white;
    font-family: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-icons {
    margin-top: 25px;
}

.footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

@media screen and (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-left, .footer-center, .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-center i {
        margin-left: 0;
    }
}