@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


/* General Setup */
html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/* Typography */
h1, h2, h3 {
    font-family: 'Kumbh Sans', sans-serif;
}

p, li, input, a {
    font-family: 'Dosis', sans-serif;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}


h3 {
    font-size: 2.8rem;
}

p, li, input, a {
    font-size: 2rem;
}


/* Header Layout */
header {
    background: rgb(0, 190, 0);
    color: black;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header .logo {
    font-size: 3.5rem;
    padding: 30px;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header a {
    position: relative;
    display: block;
    outline: none;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    border-top: 2px solid black;
}

header a:visited, header a:link, header a:focus {
    color: black;
}

header a::before, header a::after {
    background: black;
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0;
}

header a::before {
    left: 50%;
}

header a::after {
    right: 50%;
}

/* Main Layout */

main {
    margin: 10px 0;
}

main section {
    min-height: 85vh;
    padding: 50px 15px;
}

main section:nth-child(even) {
    background: rgb(0, 190, 0);
}

main section:nth-child(odd) {
    background: white;
}

main section h2 {
    font-size: 7rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Home Section */

#home {
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -10px;
}


#home h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    color: green;
    margin-bottom: 100px;;
}

#home p {
    font-size: 5rem;
    font-weight: 800;
    text-align: center;;
}


/* About Section */
.about-content {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 30px;
}


.about-left {
    width: 400px;
    height: 250px;
    background-image: url("./images/about-img.jpg");
	background-size: cover;
    background-position: center;
    margin-right: 50px;
}


.about-right {
    flex-basis: 60%;
}

.about-right h3, .about-right p {
    margin: 0;
    padding: 0;
}

.about-right h3 {
    font-family: 'Secular One', sans-serif;
    font-size: 3.5rem;
}

.about-right p {
    font-size: 2rem;
    margin: 20px 0;
    line-height: 1.5;
}

.about-right a {
    display: inline-block;
    outline: none;
    font-weight: 900;
    padding: 20px;
    background: green;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
}

.about-right a:link, .about-right a:visited, .about-right a:focus {
    color: white;
}

.about-right a:hover {
    background: white;
    color: green;
}




/* Contact Section */
#contact h2 {
    margin-bottom: 50px;
}

#contact form {
    max-width: 400px;
    margin: 0 auto;
}

#contact .form-input, #contact .form-submit {
    background: transparent;
    color: green;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s;
    border: 2px solid green;
}

#contact .form-input {
    box-sizing: border-box;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 22px;
}

#contact textarea {
    resize: none;
    height: 150px;
    line-height: 150%;
}

#contact .form-submit {
    padding: 8px;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 700;
}

#contact .form-submit:hover {
    background: green;
    color: white;
    border-color: white;
}

/* Footer */

footer {
    box-sizing: border-box;
    background: rgb(0, 190, 0);
    width: 100%;
    padding: 55px 50px;
    font-weight: bold;
}

.footer-left, .footer-center, .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-left {
    width: 40%;
}

.footer-left h3 {
    font-size: 3.2rem;
    margin: 0;
}

.footer-left span {
    color: white;
}

.footer-left p {
    font-size: 2rem;
}

.footer-center {
    width: 35%;
}

.footer-center i {
    background: white;
    color: black;
    margin: 10px 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 2rem;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
}

.footer-center p {
    display: inline-block;
    vertical-align: middle;
}

.footer-center a {
    text-decoration: none;
    color: white;
}

.footer-right {
    width: 20%;
}

.footer-right p {
    font-size: 2rem;
}

.footer-right span {
    font-size: 2.8rem;
    display: block;
    margin-bottom: 10px;
}

.footer-icons {
    margin-top: 55px;
}

.footer-icons a {
    display: inline-block;
    background: white;
    color: black;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 3px;
    margin-bottom: 5px;
}

/* Media Queries */

/* Header Queries */
@media screen and (min-width: 600px) {
    header, header ul {
        display: flex;
    }

    header {
        justify-content: space-between;
        align-items: center;
    }

    header li {
        margin-right: 15px;
    }

    header nav a {
        border: 0;
        border-bottom: 2px solid transparent;
    }

    header a:hover:before, header a:hover::after {
        width: 47%;
        transition: .5s ease;
    }
    
}

/* About Media Queries */
@media screen and (max-width: 1150px) {
    .about-left {
        margin: 0;
        margin-bottom: 70px;
    }

    .about-right h3 {
        text-align: center;
    }
}


/* Footer Media Queries */
@media screen and (max-width: 880px) {
    footer {
        font-size: 1.4rem;
    }

    .footer-left, .footer-center, .footer-right {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .footer-center i {
        margin-left: 0;
    }

    .footer-icons {
        margin-top: 10px;
    }
}

